/* style externo */
:root {
    --cor-primaria: #FFD0D0;
    --cor-secundaria: #FF9EAA;
    --cor-terciaria: #C1ECE4;
    --cor-quaternaria: #3AA6B9;
    --cor-fundo: #fbfdff;
    --margem-paragrafos: 20px;
    --fonte-primaria: "Times New Roman", serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: justify;
    margin: 20px 50px;
    background-color: var(--cor-primaria);
}

/* Estilos de página */
.titulo-de-pagina {
    color: var(--cor-secundaria);
    line-height: 1,5;
    font-weight: bold;
    font-size: 22pt;
    display:flex;
}

.titulo-de-pagina #links {
    display: flex;
}

.titulo-de-pagina li {
    color: rgb(0, 0, 0);
    font-size: 20pt;
    text-decoration: underline;
    line-height: 40px;
    display: flex;
    justify-content:baseline;
}

/* Estilos de seção */
.titulo-de-secao {
    color: var(--cor-quaternaria);
    line-height: 1.8;
    font-size: 18pt;
    font-weight: bold;
}

p {
    color:rgb(31, 22, 1);
    line-height: 1.2;
}

section.tag-semantica {
    background-color:blue;
}

/* Estilos de artigo */

article {
    border: 4px dotted var(--cor-quaternaria);
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px 0 20px 0;
    width: 25%;
    /*inserindo margens ao redor do texto com bordas arredondadas*/

}

.paragrafo-de-artigo {
    background-color: var(--cor-terciaria);
    padding: 20px;
    border-radius: 20px 0 20px 0;
}

p + .paragrafo-de-artigo {
    padding: 0px;
}

.subtitulo-de-artigo {
    color:var(--cor-quaternaria);
    line-height: 1.5;
    font-size: 14pt;
    font-weight: bold;
    font-family: var(--fonte-secundaria);
}

article p:last-child {
    border: 0%;
}

article p:last-of-type {
    border-radius: 0%;
}

.titulo-de-artigo {
    color: var(--cor-quaternaria);
    line-height: 1,5;
    font-weight: bold;
    font-size: 18pt;
}

/* Estilos do menu principal */
.menu-principal ul {
    background-color: var(--cor-secundaria);
}

.menu-principal li {
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-um h1 {
    background-color: var(--cor-secundaria);
}

.link-topo {
    text-decoration: underline;
}
 .links:link {
    color:aqua;

 }

