/* style externo */
:root {
    --cor-primaria: #FFD0D0;
    --cor-secundaria: #FF9EAA;
    --cor-terciaria: #C1ECE4;
    --cor-quaternaria: #3AA6B9;
    --cor-fundo: #fbfdff;
    --margem-paragrafos: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: justify;
    margin: 20px 50px;
    background-color: var(--cor-primaria);
}

.titulo-de-pagina {
    color: var(--cor-secundaria);
    line-height: 1,5;
    font-weight: bold;
    font-size: 22pt;
}

.titulo-de-pagina li {
    color: rgb(0, 0, 0);
    font-size: 10pt;
    text-decoration: underline;
}


.titulo-de-artigo {
    color: var(--cor-quaternaria);
    line-height: 1,5;
    font-weight: bold;
    font-size: 18pt;
}

.titulo-de-secao {
    color: var(--cor-quaternaria);
    line-height: 1.8;
    font-size: 18pt;
    font-weight: bold;
}

.subtitulo-de-artigo {
    color:var(--cor-quaternaria);
    line-height: 1.5;
    font-size: 14pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color:rgb(31, 22, 1);
    line-height: 1.2;
}

.paragrafo-de-artigo {
    background-color: var(--cor-terciaria);
    padding: 20px;
    border-radius: 20px 0 20px 0;
}

p + .paragrafo-de-artigo {
    padding: 0px;
}

article {
    border: 4px dotted var(--cor-quaternaria);
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px 0 20px 0;
    /*inserindo margens ao redor do texto com bordas arredondadas*/

}

article p:last-child {
    border-radius: 20px 0 20px 0;
}

article p:last-of-type {
    border-radius: 0%;
}

.link-topo {
    text-decoration: underline;
}

.menu-principal ul {
    background-color: var(--cor-secundaria);
}

.menu-principal li {
    background-color: var(--cor-fundo);
}

.menu-um h1 {
    background-color: var(--cor-secundaria);
}